<?xml version="1.0" encoding="utf-8"?>
<manifest package="cn.dlc.yinrongshouhuoji"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <!-- 友盟分享登录需要权限 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />

    <!-- 蓝牙权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- 录音权限 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <!-- Normal Permissions 不需要运行时注册 -->
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION"/>

    <!-- 请求网络 -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- 不是SDK需要的权限，是示例中的后台唤醒定位需要的权限 -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <!-- 需要运行时注册的权限 -->
    <!-- 用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!-- 用于提高GPS定位速度 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入缓存定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- 读取缓存数据 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <!-- 更改设置 -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>

    <!-- 3.2.0版本增加 -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <!-- 3.2.0版本增加 -->
    <uses-permission android:name="android.permission.BLUETOOTH"/>


    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MyAppTheme">

        <meta-data android:name="com.amap.api.v2.apikey" android:value="0644019f45428ff30a9c31ee5c5117ce">//开发者申请的key
        </meta-data>
        <!-- 定位需要的服务 -->
        <service android:name="com.amap.api.location.APSService">
        </service>


        <!--暂时使用WelcomeActivity启动-->
        <activity android:name=".WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--登录-->
        <activity android:name=".login.activity.LoginActivity" />
        <!--设置-->
        <activity android:name=".personal.activity.SettingActivity" />
        <!--首页-->
        <activity android:name=".home.activity.MainActivity" />
        <!--关于我们-->
        <activity android:name=".personal.activity.AboutUsActivity" />
        <!--个人资料-->
        <activity android:name=".personal.activity.PersonalDataActivity" />
        <!--用户名-->
        <activity android:name=".personal.activity.UserNameActivety" />
        <!--修改密码-->
        <activity android:name=".personal.activity.UpdataPassworkActivity" />
        <!--自动售货柜详情-->
        <activity android:name=".home.activity.DeviceDetailActivity" />
        <!--外卖列表-->
        <activity android:name=".home.activity.TakeOutListActivity" />
        <!--预定列表-->
        <activity android:name=".home.activity.BookListActivity" />
        <!--设备控制-->
        <activity android:name=".home.activity.DeviceControlActivity" />
        <!--手动操作-->
        <activity android:name=".home.activity.ManMadeActivity" />
        <!--设定地址-->
        <activity
            android:name=".home.activity.SetAddressActivity"
            android:windowSoftInputMode="adjustNothing" />
        <!--放置外卖-->
        <activity android:name=".home.activity.SetTakeOutActivity" />
        <!--我的送餐-->
        <activity android:name=".personal.activity.MyroomActivity" />
        <!--我菜单的详情-->
        <activity android:name=".personal.activity.MenuDetailsActivity" />
        <!--选择商品-->
        <activity
            android:name=".home.activity.ChooseGoodsActivity"
            android:windowSoftInputMode="adjustNothing" />
        <!--继续选择商品-->
        <activity
            android:name=".home.activity.GoOnChooseGoodsActivity"
            android:windowSoftInputMode="adjustNothing" />
    </application>

</manifest>